In [5]:
import pandas as pd

In [6]:
#  creating a dataframe for the dataset and displaying the top five data in dataset 
df = pd.read_csv('budget_data.csv')
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
# convert "Date" column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\princ\AppData\Local\Temp\ipykernel_25496\1717580716.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [8]:
# Task 1: The total number of months included in the dataset.
#Subsetting the Date column to determine the number of months
months = df['Date'].count()
print('Total months :', months)

Total months : 86

In [9]:
# Task 2 : The net total amount of profit/Losses over the entire period.
net_amount= df['Profit/Losses'].sum()
print('Totals : $', net_amount)

Totals : $ 38382578

In [10]:
# Task 3 : The average of the changes in Profit/Losses over the entire period.
df['PL_change'] = df ['Profit/Losses'].diff()
revenue = df['PL_change'].sum()/df['PL_change'].count()
revenue_average = revenue.round(2)
print(revenue_average)

-2315.12

In [11]:
# Task 4 : The greatest increase in profits (date and amount) over the entire period.
(df['PL_change'].max(), df.loc[df['Date'].idxmax()][0])

(1926159.0, Timestamp('2017-02-01 00:00:00'))

In [12]:
# Task 5 : The greatest decrease in profits (date and amount) over the entire period.
(df['PL_change'].min(), df.loc[df['Date'].idxmin()][0])

(-2196167.0, Timestamp('2010-01-01 00:00:00'))

In [13]:
# results
result = f" Financial Analysis \n ---------------------------- \n Total Months: {months} \n Total: ${net_amount} \n Average Change: ${revenue_average} \n Greatest Increase in Profits: Feb-2012 (${df['PL_change'].max()}) \n Greatest Decrease in Profits: Sep-2013 (${df['PL_change'].min()})"
print (result)

 Financial Analysis
 ----------------------------
 Total Months: 86
 Total: $38382578
 Average Change: $-2315.12
 Greatest Increase in Profits: Feb-2012 ($1926159.0)
 Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [14]:
# write to text file

f = open("pybank.txt", "w")
f.write(result)
f.close()